* {
    margin:0;
    padding:0;
}
p {
    margin:5px 0 10px 0;
}
h1 {
    color:#005490;
}
html, body {
    height:100%;
    background-color:#f1f1f1;
    overflow: auto;
}
.main-header {
    height:50px;
    background-color:#005490;
    padding:0 15px;
    margin-bottom:15px;
    color:#FFF;
}
.main-header span h1 {
    font-size:1.5em;
    line-height:50px;
    color:#FFF;
}
.container {
    overflow: auto;
    display: block;
    background-color:#F1f1f1;
    min-height:calc(100% - 50px);
    max-width:1181px;
    margin:0 auto;
}
.container:after {
    content: "";
    display: block;
}
.top-container {
    background-color: #f1f1f1;
    padding:20px;
    overflow:auto;
}

.content-left {
    float:left;
    width:30%;
    background-color:#FFF;
}
.content-right {
    height:200px;
    width:66%;
    background:#FFF;
    float:right;
    padding: 0 2%;
    overflow:hidden;
}
.content-right h1 {
    margin:10px 0 5px 0;
}
.content-left, .content-right {
    max-height:200px;
}
.profile-large {
    max-width:100%;
}
.left-sidebar {
    background-color:#eaeaea;
    width:calc(30%);
    height:calc(100% - 260px);
    float:left;
}
.sidebar-nav ul {
    list-style:none;
}
.sidebar-nav li:first-child {
    border-top:none;
}
.sidebar-nav li {
    display:block;
    width:100%;
    background-color:#F1f1f1;
    border-bottom:1px solid #CCC;
    border-top:1px solid #FFF;
}
.sidebar-nav li:last-child {
    border-bottom:none;
}
.sidebar-nav a {
    text-decoration:none;
    padding:10px 0 10px 20px;
    display: block;
    background-color:#eaeaea;
    transition-duration:0.5s;
    color:#005490;
}
.sidebar-nav a:hover {
    background-color:#CCC;
    color:#000;
}
.bottom-container {
    background-color:#FFF;
    width:calc(66%);
    min-height:calc(100% - 260px);
    padding:2%;
    float:right;
}
.footer,.footer:after {
    padding:10px 0;
    background-color:#005490;
    color:#FFF;
}
.footer span p {
    font-weight:normal;
    width:100%;
    text-align:center;
    line-height:50px;
    font-size:11px;
    color:#CCC;
}

.box-shadow {
    box-shadow: 0px 0px 5px 1px #9E9E9E;
    -webkit-box-shadow: 0px 0px 5px 1px #9E9E9E;
    -moz-box-shadow: 0px 0px 5px 1px #9E9E9E;
    -o-box-shadow: 0px 0px 5px 1px #9E9E9E;
}
.header-shadow {
    -webkit-box-shadow: 0px 0px 5px 1px #000000;
    -moz-box-shadow: 0px 0px 5px 1px #000000;
    -o-box-shadow: 0px 0px 5px 1px #000000;
}
.clearfix {
    overflow:hidden;
}
.gallery ul {
    list-style-type:none;
    text-align:center;
}
.gallery li {
    display:inline-block;
    margin:10px;
    height:100px;
}
.gallery img {
    width:150px;
}